*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 29, 44);
    color: white;
    height: 90px;
    width: 100%;
    font-size: 2rem;
}
/* .container{
    height: 85vh;
    width: 100%;
} */
.choices{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 10rem;
}
.choice{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
}
.choice:hover{
    background-color: black;
    opacity: 0.8;
    cursor: pointer;
}
.choice img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
    
}
.score-board{
    gap: 5rem;
    width: 100%;
    justify-content: center;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    height: 15rem;
    margin-top: 10rem;
    font-size: 5rem;

}
.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 900;
    background-color:rgb(29, 29, 44) ;
    color: white;
    margin: auto;
    height: 6rem;
    width: 25rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

